Soneta.ImpersonateLogin/Service References/ServiceReference1/BusinessProvider2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Soneta.Types" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Soneta.Types" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1080/Business/BusinessProvider.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1080/Business/BusinessProvider.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="DeviceType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Browser" />
      <xs:enumeration value="MobileBrowser" />
      <xs:enumeration value="MobileApp" />
      <xs:enumeration value="WindowsRT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DeviceType" nillable="true" type="tns:DeviceType" />
  <xs:simpleType name="VerifierType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Error" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Information" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VerifierType" nillable="true" type="tns:VerifierType" />
  <xs:complexType name="ServiceMethodInvokerParams">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ContextHandle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DatabaseHandle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpFilters" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="MethodArgs" nillable="true" type="q1:ArrayOfKeyValueOfstringanyType" />
      <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceMethodInvokerParams" nillable="true" type="tns:ServiceMethodInvokerParams" />
  <xs:simpleType name="AuthenticationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UserPassword" />
      <xs:enumeration value="Windows" />
      <xs:enumeration value="ExternalLogin" />
      <xs:enumeration value="IntegratedLogin" />
      <xs:enumeration value="ImpersonateLogin" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AuthenticationType" nillable="true" type="tns:AuthenticationType" />
  <xs:complexType name="ArrayOfExternalAccountProvider">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalAccountProvider" nillable="true" type="tns:ExternalAccountProvider" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalAccountProvider" nillable="true" type="tns:ArrayOfExternalAccountProvider" />
  <xs:complexType name="ExternalAccountProvider">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientSecure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Handle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="tns:ProviderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExternalAccountProvider" nillable="true" type="tns:ExternalAccountProvider" />
  <xs:simpleType name="ProviderType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Facebook" />
      <xs:enumeration value="Google" />
      <xs:enumeration value="LinkedIn" />
      <xs:enumeration value="LiveId" />
      <xs:enumeration value="Custom">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">100</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ProviderType" nillable="true" type="tns:ProviderType" />
</xs:schema>