Soneta.ImpersonateLogin/Service References/ServiceReference1/BusinessProvider4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Soneta.Business.UI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Soneta.Business.UI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="AggregationType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Auto" />
      <xs:enumeration value="None" />
      <xs:enumeration value="Sum" />
      <xs:enumeration value="Count" />
      <xs:enumeration value="Average" />
      <xs:enumeration value="Min" />
      <xs:enumeration value="Max" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AggregationType" nillable="true" type="tns:AggregationType" />
  <xs:simpleType name="UIElementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Label" />
      <xs:enumeration value="Field" />
      <xs:enumeration value="Gap" />
      <xs:enumeration value="Html" />
      <xs:enumeration value="Grid" />
      <xs:enumeration value="List" />
      <xs:enumeration value="Scheduler" />
      <xs:enumeration value="Diagram" />
      <xs:enumeration value="Pivot" />
      <xs:enumeration value="Chart" />
      <xs:enumeration value="Flow" />
      <xs:enumeration value="Row" />
      <xs:enumeration value="Stack" />
      <xs:enumeration value="Dashboard" />
      <xs:enumeration value="Bar" />
      <xs:enumeration value="Group" />
      <xs:enumeration value="Page" />
      <xs:enumeration value="Include" />
      <xs:enumeration value="Command" />
      <xs:enumeration value="UserControl" />
      <xs:enumeration value="Data" />
      <xs:enumeration value="Axis" />
      <xs:enumeration value="UserFilter" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="UIElementType" nillable="true" type="tns:UIElementType" />
  <xs:simpleType name="DataFormView">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Dialog" />
      <xs:enumeration value="Form" />
      <xs:enumeration value="Folder" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataFormView" nillable="true" type="tns:DataFormView" />
  <xs:simpleType name="DataFormTarget">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="Child" />
      <xs:enumeration value="NewFrame" />
      <xs:enumeration value="Popup" />
      <xs:enumeration value="ComboBox" />
      <xs:enumeration value="Modal" />
      <xs:enumeration value="NavigationSearchResults" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="DataFormTarget" nillable="true" type="tns:DataFormTarget" />
</xs:schema>