Soneta.ImpersonateLogin/Service References/ServiceReference1/TokenService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1080/Business/TokenService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Soneta.Net.Types" />
  <xs:element name="GenerateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Soneta.Net.Types" minOccurs="0" name="tokenInfo" nillable="true" type="q1:GenerateTokenInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Soneta.Net.Types" minOccurs="0" name="GenerateTokenResult" nillable="true" type="q2:GenerateTokenResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>